:root{
    --dark-grey: #161616;
    --light-grey: #dbdbdb;
    --grey: #575757;
    --red: #a71818;
}

*{
    margin: 0;
    padding: 0;
    background: var(--dark-grey);
    line-height: 1.5;
    font-weight: 400;
}

body{
    display: grid;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    justify-content: center;
    height: 100vh;
}

header{
    /* border: 1px solid #888; */
    text-transform: uppercase;
    width: 70vw;
    height: fit-content;
    margin: 10vh auto 0;
}

h1{
    color: var(--light-grey);
    font-size: 8vw;
    font-weight: 700;
    line-height: 12vh;
}

#main-title{
    width: 100%;
    height: fit-content;
    margin: auto;
    text-align: center;
    /* transform: perspective(1200px) rotateY(50deg) rotateX(-5deg) translateY(15px) translateX(-5vw); */
}

h2{
    color: var(--red);
    font-size: 3.5vw;
    background: transparent;
    text-shadow: 0 0 10px var(--dark-grey);
}

#subtitle{
    width: fit-content;
    /* rotate: 2deg; */
    position: absolute;
    right: 30vw;
    top: 30vh;
    z-index: 99;
    background: transparent;
}


main{
    position: relative;
    width: 90vw;
    text-align: center;
}

#days-left{
    color: var(--red);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

#num-days{
    width: 100%;
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: -15px;
}

#text-days{
    width: 100%;
    font-size: 3vw;
    background: transparent;
    position: absolute;
    top: 22vh;
    right: -7px;
}

#hours-left{
    color: var(--grey);
    font-size: 1.2vw;
    font-weight: 100;
}


footer{
    align-self: flex-end;
    text-align: center;
}

footer img{
    width: 30px;
}

/* Responsive */

@media (max-width:1170px) {
    header{
        width: 80vw;
    }
    
    h1{
        font-size: 22vw;
        letter-spacing: -1vw;
        font-weight: 800;
        line-height: 7vh;
        text-shadow: 0 0 10px var(--dark-grey);
    }
    
    /* #main-title{
        float: left;
        transform: rotateY(0deg) rotateX(0deg);
    } */
    
    h2{
        font-size: 8vw;
        font-weight: 700;
    }
    
    #subtitle{
        rotate: -8deg;
        position: absolute;
        right: 10vw;
        top: 30vh;
    }

    #num-days{
        /* width: 100%; */
        font-size: 40vw;
        /* font-weight: 800; */
    }
    
    #text-days{
        font-size: 10vw;
        font-weight: 550;
        top: 22vh;
    }

    #hours-left{
        font-size: 5vw;
        font-weight: 200;
    }

    footer img{
        margin-bottom: 1vh;
    }
}